<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between justify-md-between my-3">
  <div class="d-flex align-items-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
  </div>
</div>
<div class="bglightgreen p-3">
  <form class="form-layout" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="col-12 ">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 co-12 px-3">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="col-12 form-group mb-4  position-relative">
                <label for="Name"> Old Password </label>
                <input appNoEmoji [type]="oldPasswordView ? 'text' : 'password'" placeholder="Old Password" class="form-control" id="OldPassword" autocomplete="new-password" required formControlName="oldPwd" maxlength="20" [ngClass]="{ 'is-invalid': (changePasswordForm.get('oldPwd')?.touched || submitted) && changePasswordForm.get('oldPwd')?.invalid }" required>
                <span [ngClass]="oldPasswordView ? 'signin-pass-visible' : 'signin-pass-invisible'" (click)="toggleOldPasswordview()" style="right: 27px; top: 26px;"></span>
                <div *ngIf="changePasswordForm.get('oldPwd')?.touched && changePasswordForm.get('oldPwd')?.invalid" class="text-danger">
                  <span *ngIf="changePasswordForm.get('oldPwd')?.errors?.['required']">Old Password is required</span>
                  <span *ngIf="!changePasswordForm.get('oldPwd')?.errors?.['required'] && changePasswordForm.get('oldPwd')?.errors?.['whitespace']">Old Password cannot be blank</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="col-12 form-group mb-4  position-relative">
                <label for="Name"> New Password </label>
                <input appNoEmoji [type]="passwordView ? 'text' : 'password'" placeholder="New Password" class="form-control" id="newPassword" autocomplete="new-password" required formControlName="newPwd" maxlength="20" [ngClass]="{ 'is-invalid': (changePasswordForm.get('newPwd')?.touched || submitted) && changePasswordForm.get('newPwd')?.invalid }" required>
                <span [ngClass]="passwordView ? 'signin-pass-visible' : 'signin-pass-invisible'" (click)="togglePasswordview()" style="right: 27px; top: 26px;"></span>
                <div *ngIf="changePasswordForm.get('newPwd')?.touched && changePasswordForm.get('newPwd')?.invalid" class="text-danger">
                  <span *ngIf="changePasswordForm.get('newPwd')?.errors?.['required']">New Password is required</span>
                  <span *ngIf="changePasswordForm.get('newPwd')?.errors?.['maxLength']">New Password must be less than 20 characters</span>
                  <span *ngIf="!changePasswordForm.get('newPwd')?.errors?.['required'] && changePasswordForm.get('newPwd')?.errors?.['strongPassword']">New Password must contain at least 8 characters, including uppercase, lowercase, numbers, and special characters, and no spaces</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="col-12 form-group mb-4  position-relative">
                <label for="Name"> Confirm New Password </label>
                <input appNoEmoji [type]="confirmPasswordView ? 'text' : 'password'" placeholder="Confirm New Password" class="form-control" id="retypePassword" required formControlName="confirmPwd" maxlength="20" [ngClass]="{ 'is-invalid': (changePasswordForm.get('confirmPwd')?.touched || submitted) && changePasswordForm.get('confirmPwd')?.invalid }" required>
                <span [ngClass]="confirmPasswordView ? 'signin-pass-visible' : 'signin-pass-invisible'" (click)="toggleConfirmPasswordview()" style="right: 27px; top: 26px;"></span>
                <div *ngIf="changePasswordForm.get('confirmPwd')?.touched && changePasswordForm.get('confirmPwd')?.invalid" class="text-danger">
                  <span *ngIf="changePasswordForm.get('confirmPwd')?.errors?.['required']">Confirm New Password is required</span>
                  <span *ngIf="changePasswordForm.get('confirmPwd')?.errors?.['maxLength']">Confirm New Password must be less than 20 characters</span>
                  <span *ngIf="!changePasswordForm.get('confirmPwd')?.errors?.['required'] && !changePasswordForm.get('newPwd')?.errors?.['required'] && changePasswordForm.get('newPwd')?.errors?.['strongPassword'] &&
                  changePasswordForm.get('confirmPwd')?.errors?.['strongPassword']">Confirm New Password must contain at least 8 characters, including uppercase, lowercase, numbers, and special characters, and no spaces</span>
                  <span *ngIf="!changePasswordForm.get('confirmPwd')?.errors?.['required'] && changePasswordForm.get('newPwd')?.errors?.['required'] && changePasswordForm.get('newPwd')?.errors?.['strongPassword'] &&
                  changePasswordForm.get('confirmPwd')?.errors?.['strongPassword']">Confirm New Password must contain at least 8 characters, including uppercase, lowercase, numbers, and special characters, and no spaces</span>
                  <span *ngIf="changePasswordForm.errors?.['mismatch'] && !changePasswordForm.get('newPwd')?.errors?.['strongPassword'] && !changePasswordForm.get('confirmPwd')?.errors?.['required']"> New Password and Confirm New Password do not match</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0 ">
            <div class="col-md-4 col-12 p-0 d-flex gap-2">
              <button class="btn btn-success minw100"> Save </button>
              <button class="btn btn-primary minw100" (click)="resetData()"> Cancel </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>