.voucher-detail-table { max-height: 420px; overflow-y: auto; }
.voucher-detail-table thead th:nth-child(1),
.voucher-detail-table tbody td:nth-child(1) { width: 12%; text-align: left; }
.voucher-detail-table thead th:nth-child(2),
.voucher-detail-table tbody td:nth-child(2) { width: 12%; }
.voucher-detail-table thead th:nth-child(3),
.voucher-detail-table tbody td:nth-child(3) { width: 17%; }
.voucher-detail-table thead th:nth-child(4),
.voucher-detail-table tbody td:nth-child(4) { width: 14%; }
.voucher-detail-table thead th:nth-child(5),
.voucher-detail-table tbody td:nth-child(5) { width: 14%; }
.voucher-detail-table thead th:nth-child(6),
.voucher-detail-table tbody td:nth-child(6) { width: 14%; }
.voucher-detail-table thead th:nth-child(7),
.voucher-detail-table tbody td:nth-child(7) { width: 17%; }

.voucher-detail-table th, .voucher-detail-table td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}

.icon-disabled {opacity: 0.5; cursor: not-allowed; transition: opacity 0.2s ease;}
.icon-disabled:hover {opacity: 0.5 !important;}
.text-muted {color: #6c757d !important;}
.table-secondary {  background-color: #f2f2f2;  opacity: 0.8; pointer-events: none;}